///////////////////////////////////////

.about-momo {
  width: 100%;
  background-color: black;
}

.about-momo__video-box {
  width: 100%;
  .about-momo__video {
    height: 750px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  img {
    width: 100%;
  }
}
.about-momo__img1 {
  width: 100%;
  img {
    width: 100%;
  }
}

.about-momo__img2 {
  width: 100%;
  img {
    width: 100%;
  }
}

.about-momo__img1-m,
.about-momo__img2-m {
  width: 100%;
  display: none;
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-momo__video-box {
    .about-momo__video {
      height: auto;
    }
  }
  .about-momo__img1,
  .about-momo__img2 {
    display: none;
  }

  .about-momo__img1-m,
  .about-momo__img2-m {
    display: block;
  }
}
