@charset "UTF-8";
.momo-main-background {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  height: auto;
  padding-bottom: 80px;
  z-index: 5;
}
.momo-main-background .momo-main-container {
  width: 100%;
  max-width: 1605px;
  margin-top: 80px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.momo-main-background .momo-main-container .momo-container__texture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-texture__main-text {
  font-family: "mplus1p500";
  font-size: 24px;
  text-align: center;
  width: 100%;
  max-width: 816px;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-texture__sub-text {
  font-family: "mplus1p400";
  font-size: 20px;
  color: #b3b3b3;
  margin-top: 24px;
  text-align: center;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-texture__box {
  display: flex;
  margin-top: 24px;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-texture__box > a {
  font-family: "mplus1p400";
  font-size: 20px;
  color: #fbca77;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-texture__box > a:nth-child(1)::after {
  content: "·";
  margin: 0 20px;
}
.momo-main-background .momo-main-container .momo-container__texture .momo-container__btn--user-guide {
  font-family: "mplus1p500";
  color: #5282ff;
  margin-top: 24px;
}
.momo-main-background .momo-main-container .current-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}
.momo-main-background .momo-main-container .current-balance .current-balance__title {
  font-family: "mplus1p400";
  font-size: 30px;
}
.momo-main-background .momo-main-container .current-balance .current-balance__mzc {
  margin-top: 16px;
  font-family: "mplus1p500";
  font-size: 30px;
  color: #a8a8a8;
}
.momo-main-background .momo-main-container .current-balance .current-balance__mzc .mzc {
  font-family: "mplus1p500";
  font-size: 30px;
  color: #a8a8a8;
}
.momo-main-background .momo-main-container .current-balance .btn-mzc {
  margin-top: 24px;
  font-family: "mplus1p400";
  font-size: 20px;
  width: 256px;
  padding: 11.5px 0;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
}
.momo-main-background .momo-main-container .momo-container__claim {
  margin-top: 56px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ffce22;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__title {
  font-family: "mplus1p500";
  font-size: 24px;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin {
  display: flex;
  align-items: center;
  width: 513px;
  margin-top: 16px;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin div {
  display: flex;
  align-items: center;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin div .momo-coin-icon {
  width: 40px;
  margin-right: 16px;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin div .momo-coin-icon img {
  width: 100%;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin div .momo-mzc {
  display: flex;
  line-height: 35px;
  font-size: 24px;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin div .momo-mzc span {
  font-size: 24px;
  text-align: right;
}
.momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin .momo-btn-claim {
  margin-left: auto;
  background-color: #fbca77;
  border-radius: 8px;
  font-size: 24px;
  color: #000;
  padding: 16px 40px;
}
.momo-main-background .momo-main-container .momo-container__nft {
  width: 100%;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header {
  display: flex;
  align-items: center;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header .momo-header__title,
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header .momo-header__text,
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header .momo-header__text--qtt {
  font-family: "mplus1p500";
  font-size: 20px;
  white-space: wrap;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header .momo-header__text {
  margin-left: 24px;
  white-space: nowrap;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box {
  position: relative;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-btn--state-select {
  position: relative;
  width: 170px;
  background-color: transparent;
  border: 1px solid #545454;
  border-radius: 8px;
  padding: 8px;
  font-family: "500";
  font-size: 16px;
  text-align: left;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .material-symbols-outlined {
  position: absolute;
  top: 6px;
  right: 2px;
  transition: 0.3s;
  cursor: pointer;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-state-select-list {
  width: 100%;
  position: absolute;
  top: 45px;
  border: 1px solid #545454;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
  background-color: #000;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-state-select-list .momo-state-item {
  padding: 12px 8px;
  font-family: "500";
  cursor: pointer;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-state-select-list .momo-state-item:hover {
  background-color: #fbca77;
  color: #000;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-state-select-list .momo-state-item:not(:last-child) {
  border-bottom: 1px solid #545454;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-grade-select-box {
  margin-right: 12px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu {
  display: flex;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn-all-select-label {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: "mplus1p500";
  font-size: 20px;
  white-space: nowrap;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn-all-select-label .momo-btn-all-select {
  margin-right: 4px;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #545454;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn-all-select-label .momo-btn-all-select:checked::before {
  content: url("../assets/images/check.svg");
  position: relative;
  top: 20%;
  left: 20%;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn-all-select-label .momo-btn-all-select:checked {
  background-color: #fbca77;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn--all-staking {
  margin-left: 24px;
  background-color: #545454;
  color: #b3b3b3;
  padding: 16px 20px;
  border-radius: 8px;
  white-space: nowrap;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-checked {
  background-color: #fbca77;
  color: black;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main {
  position: relative;
  margin: 0 -10px;
  margin-top: 16px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item {
  position: relative;
  margin: 0 10px 40px 10px;
  border: 1px solid #545454;
  border-radius: 8px;
  overflow: hidden;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-reward {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-family: "mplus1p500";
  font-size: 18px;
  text-align: center;
  color: black;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-check {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #545454;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-check:checked::before {
  content: url("../assets/images/check.svg");
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-check:checked {
  background-color: #fbca77;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images {
  width: 100%;
  overflow: hidden;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images img {
  width: 100%;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-name {
  text-align: center;
  font-family: "mplus1p500";
  font-size: 19px;
  height: 56px;
  color: #b3b3b3;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-staking-state {
  white-space: nowrap;
  color: #ffb800;
  margin-top: 16px;
  font-family: "mplus1p400";
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .now-staking {
  color: #0f6;
  font-family: "mplus1p400";
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-btn--staking {
  white-space: nowrap;
  margin-top: 16px;
  background-color: transparent;
  padding: 16px 8px;
  width: 100%;
  border: 1px solid #fbca77;
  border-radius: 8px;
  font-family: "mplus1p400";
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-btn--staking:hover {
  background-color: #fbca77;
  color: #000;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-btn-cancel-staking {
  margin-top: 16px;
  background-color: transparent;
  padding: 16px 0;
  width: 100%;
  border: 1px solid #ff2121;
  border-radius: 8px;
  font-family: "mplus1p400";
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-btn-cancel-staking:hover {
  background-color: #ff2121;
  color: #000;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .momo-empty-nft {
  width: 100%;
  height: 536px;
  text-align: center;
  line-height: 536px;
  font-family: "500";
  font-size: 24px;
  color: #b3b3b3;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li:first-child a, .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li:last-child a {
  font-size: 24px;
  margin: 0;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li:nth-child(2) a {
  font-size: 24px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li:nth-last-child(2) a {
  font-size: 24px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li > a {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}
.momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .pagination-box > .pagination li.active a {
  color: black;
  background-color: #fbca77;
}

.momo-loading {
  width: 100%;
  height: 536px;
  text-align: center;
  line-height: 536px;
  font-family: "500";
  font-size: 24px;
  color: #b3b3b3;
}

@media (max-width: 1024px) {
  .momo-main-background .momo-main-container {
    padding: 0 20px;
  }
  .momo-main-background .momo-main-container .momo-container__claim {
    margin-top: 96px;
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft {
    padding: 0;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header {
    flex-direction: column;
    align-items: stretch;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div {
    margin-left: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu {
    align-items: center;
    margin-top: 24px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-btn--state-select {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-header__text {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-header__text .momo-header__text--qtt {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu {
    margin-top: 24px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn-all-select-label {
    margin-left: 0;
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-right-menu .momo-btn--all-staking {
    width: 100%;
    margin-left: 0;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item {
    width: auto;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-name {
    height: -moz-fit-content;
    height: fit-content;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .momo-main-background .momo-main-container {
    padding: 0 20px;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__main-text {
    font-size: 20px;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__sub-text {
    font-size: 20px;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__box {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__box a {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__box a:nth-child(1)::after {
    display: none;
  }
  .momo-main-background .momo-main-container .momo-container__texture .momo-texture__box a:last-child {
    margin-top: 24px;
  }
  .momo-main-background .momo-main-container .current-balance {
    margin-top: 40px;
    width: 100%;
  }
  .momo-main-background .momo-main-container .current-balance .current-balance__title {
    font-size: 20px;
  }
  .momo-main-background .momo-main-container .current-balance .current-balance__mzc {
    font-size: 20px;
  }
  .momo-main-background .momo-main-container .current-balance .current-balance__mzc .mzc {
    font-size: 20px;
  }
  .momo-main-background .momo-main-container .current-balance .btn-mzc {
    width: 100%;
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__claim {
    margin-top: 80px;
    width: 100%;
    padding: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__title {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin > div {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin > div .momo-coin-icon {
    width: 30px;
    margin-right: 0;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin > div .momo-coin-icon img {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin > div .momo-mzc {
    margin-left: auto;
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin > div .momo-mzc span {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__claim .momo-claim__coin .momo-btn-claim {
    margin-left: 0;
    margin-top: 24px;
    font-size: 16px;
    padding: 12px;
  }
  .momo-main-background .momo-main-container .momo-container__nft {
    margin-top: 80px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header .momo-header__title {
    font-size: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu {
    margin-top: 16px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-grade-select-box {
    width: 40%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-grade-select-box .momo-btn--state-select {
    font-size: 12px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__header > div .momo-left__menu .momo-state-select-box .momo-btn--state-select {
    font-size: 12px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item {
    margin: 0 12px 24px 12px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-check {
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-images img {
    width: 100%;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info {
    padding: 16px 8px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-name,
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-staking-state {
    font-size: 12px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .boost-state,
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-btn--staking,
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-btn-cancel-staking {
    font-size: 10px;
    padding: 8px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main .main__momo-list .momo-item .momo-info .momo-btn--staking {
    padding: 8px;
  }
  .momo-main-background .momo-main-container .momo-container__nft .momo-nft__main > .momo-empty-nft {
    height: 440px;
    font-size: 20px;
    word-wrap: normal;
  }
}/*# sourceMappingURL=Momo.css.map */