.swap-background {
  width: 100%;
  height: 1024px;
  background-image: url("../assets/images/MongzSwapBg.png");
  background-size: cover;
  .swap__header {
    margin: 0 auto;
    padding-top: 54px;
    max-width: 650px;
    text-align: center;
    .swap__header__title {
      color: #fff;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.74);
      font-family: Noto Sans;
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 3.2px;
    }
    .swap__header__sub-title {
      margin: 0 auto;
      color: #fff;
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
      font-family: Noto Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 3.52px;
      text-transform: uppercase;
      padding-bottom: 14px;
      border-bottom: 1px solid #fff;
      margin-bottom: 14px;
    }
    .swap__header__description {
      text-align: left;
      max-width: calc(100% - 2em); // Adjust this value as needed
      color: #fff;
      font-family: Noto Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.98px;
    }
  }
  .swap__content {
    margin: 0 auto;
    margin-top: 33px;
    padding: 40px;
    width: 702px;
    min-height: 566px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
    .swap__content__my-amount {
      color: #fff;
      font-family: Noto Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.68px;
      margin-bottom: 34px;
      .my-amount {
        color: #fff;
        font-family: Noto Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.68px;
        text-decoration-line: underline;
      }
    }
    .content__form {
      width: 424px;
      height: 67px;
      flex-shrink: 0;
      .content__form__input-box {
        width: 424px;
        height: 67px;
        border-radius: 5px;
        display: flex;
        .input-container {
          display: flex;
          width: 424px;
          height: 67px;
          flex-shrink: 0;
          border-radius: 5px;
          background: #fff;
          box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15) inset;
          align-items: center;
          margin-right: 28px;
          .input-box__input {
            text-align: center;
            margin-left: 12px;
            width: 80%;
            color: #424242;
            font-family: Noto Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.68px;
            text-decoration-line: underline;
          }
          .input-label {
            color: #959595;
            font-family: Noto Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.68px;
          }
        }
        .content__form__max-button {
          width: 128px;
          height: 63px;
          color: #fff;
          font-family: Noto Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 1.68px;
          flex-shrink: 0;
          border-radius: 48px;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          border: 2px solid #fff;
          background: linear-gradient(
            270deg,
            #4bbeff 0%,
            #00ffd1 48.08%,
            #ff5bf8 100%
          );
        }
      }
      .content__form__arrow-box {
        margin: 0 auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 21px;
        .arrow {
          margin-top: 14px;
        }
      }
      .content__preview-box {
        display: flex;
        align-items: center;
        text-align: center;
        width: 424px;
        height: 67px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid #fff;
        background: rgba(255, 255, 255, 0);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
        margin-bottom: 65px;
        .content__preview-box__amount {
          width: 80%;
          color: #fff;
          background-color: transparent;
          text-align: center;
          font-family: Noto Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 1.68px;
        }
        .amount__label {
          color: #fff;
          font-family: Noto Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 1.68px;
        }
      }
      .content__form__error-box {
        width: 580px;
        text-align: center;
        margin-bottom: 12px;
      }
      .content__form__swap-button {
        width: 580px;
        height: 63px;
        color: #fff;
        font-family: Noto Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.68px;
        flex-shrink: 0;
        border-radius: 48px;
        border: 2px solid #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        background: linear-gradient(
          270deg,
          #4bbeff 0%,
          #00ffd1 48.08%,
          #ff5bf8 100%
        );
      }
    }
  }
}

@media (max-width: 768px) {
  .swap-background {
    width: 100%;
    height: auto;
    background-image: url("../assets/images/MongzSwapBg.png");
    background-size: cover;
    padding-bottom: 100px;
    .swap__header {
      width: 307px;
      margin: 0 auto;
      padding-top: 54px;
      text-align: center;
      .swap__header__title {
        color: #fff;
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.53);
        font-family: Noto Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.8px;
      }
      .swap__header__sub-title {
        margin: 0 auto;
        color: #fff;
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
        font-family: Noto Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.24px;
        text-transform: uppercase;
        padding-bottom: 14px;
        border-bottom: 1px solid #fff;
        margin-bottom: 14px;
      }
      .swap__header__description {
        text-align: left;
        max-width: calc(100% - 2em); // Adjust this value as needed
        width: 305px;
        color: #fff;
        font-family: Noto Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
        margin: 0 auto;
      }
    }
    .swap__content {
      margin: 0 auto;
      margin-top: 33px;
      padding: 10px;
      width: 300px;
      min-height: 430px;
      height: auto;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
      .swap__content__my-amount {
        color: #fff;
        font-family: Noto Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.68px;
        margin-bottom: 20px;
        .my-amount {
          color: #fff;
          font-family: Noto Sans;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.68px;
          text-decoration-line: underline;
        }
      }
      .content__form {
        width: 300px;
        height: 67px;
        flex-shrink: 0;
        .content__form__input-box {
          width: 300px;
          height: 50px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          .input-container {
            display: flex;
            width: 180px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #fff;
            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15) inset;
            align-items: center;
            margin-right: 12px;
            .input-box__input {
              text-align: center;
              margin-left: 12px;
              width: 60%;
              color: #424242;
              font-family: Noto Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              letter-spacing: 1.12px;
              text-decoration-line: underline;
            }
            .input-label {
              color: #959595;
              font-family: Noto Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              letter-spacing: 1.12px;
            }
          }
          .content__form__max-button {
            width: 87px;
            height: 43px;
            color: #fff;
            font-family: Noto Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.12px;
            flex-shrink: 0;
            border-radius: 48px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            border: 2px solid #fff;
            background: linear-gradient(
              270deg,
              #4bbeff 0%,
              #00ffd1 48.08%,
              #ff5bf8 100%
            );
          }
        }
        .content__form__arrow-box {
          margin: 0;
          width: 200px;
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 21px;
          .arrow {
            margin-top: 14px;
          }
        }
        .content__preview-box {
          display: flex;
          align-items: center;
          text-align: center;
          width: 180px;
          height: 50px;
          flex-shrink: 0;
          border-radius: 5px;
          border: 2px solid #fff;
          background: rgba(255, 255, 255, 0);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1) inset;
          margin-bottom: 30px;
          .content__preview-box__amount {
            padding-left: 12px;
            width: 70%;
            color: #fff;
            background-color: transparent;
            text-align: center;
            font-family: Noto Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.2px;
          }
          .amount__label {
            color: #fff;
            font-family: Noto Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.2px;
          }
        }
        .content__form__error-box {
          width: 280px;
          text-align: center;
          margin-bottom: 12px;
          .error-box__message {
            font-size: 10px;
          }
        }
        .content__form__swap-button {
          width: 280px;
          height: 63px;
          color: #fff;
          font-family: Noto Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          letter-spacing: 1.68px;
          flex-shrink: 0;
          border-radius: 48px;
          border: 2px solid #fff;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          background: linear-gradient(
            270deg,
            #4bbeff 0%,
            #00ffd1 48.08%,
            #ff5bf8 100%
          );
        }
      }
    }
  }
}
