.header {
  width: 100%;
  background-color: #000000;
  padding: 0 60px;
}
.header .inner {
  position: relative;
  width: 100%;
  max-width: 1605px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-logo {
  margin-top: 10px;
  width: 154px;
}
.header .header-logo img {
  width: 100%;
}

.sub-menu {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.sub-menu li {
  position: relative;
}
.sub-menu li .btn--language {
  display: flex;
  background-color: transparent;
}
.sub-menu li .btn--language .current-language {
  display: flex;
  align-items: center;
  font-family: "mplus1p600";
  font-size: 18px;
}
.sub-menu li .btn--language .current-language .material-symbols-outlined {
  font-size: 20px;
  margin-right: 8px;
}
.sub-menu li .social-btn {
  background-color: transparent;
  display: flex;
}
.sub-menu li .language-menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid #ffce22;
  z-index: 6;
  border-radius: 8px;
  overflow: hidden;
}
.sub-menu li .language-menu li {
  width: 100%;
}
.sub-menu li .language-menu li .btn--language-items {
  background-color: transparent;
  width: 100%;
  padding: 16px;
}
.sub-menu li .language-menu li .btn--language-items:hover {
  background-color: #2f2f2f;
  color: #fbca77;
}
.sub-menu li .language-menu span {
  display: inline-block;
  font-family: "mplus1p500";
  text-align: left;
  width: 100%;
}

.social-menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid #ffce22;
  z-index: 6;
  border-radius: 8px;
  overflow: hidden;
}
.social-menu li {
  width: 100%;
}
.social-menu li .btn--social-items {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
}
.social-menu li .btn--social-items:hover {
  background-color: #2f2f2f;
  color: #fbca77;
}
.social-menu li .btn--social-items img {
  margin-right: 8px;
}

.m-menu {
  display: none;
}

.transparent {
  background-color: transparent;
}

@media (max-width: 1460px) {
  .header {
    padding: 0 20px;
  }
  .sub-menu {
    display: none;
  }
  .inner {
    position: relative;
  }
  .m-menu {
    display: block;
    position: absolute;
    right: 0;
  }
  .m-main-menu {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 24px;
    cursor: pointer;
  }
  .m-main-menu span {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    transition: 0.4s;
  }
  .m-main-menu span:nth-child(1) {
    top: 0;
  }
  .m-main-menu span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .m-main-menu span:nth-child(3) {
    bottom: 0;
  }
  .active span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .active span:nth-child(2) {
    opacity: 0;
  }
  .active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  .m-main-menu__list-background {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.4s;
    display: flex;
    justify-content: flex-end;
  }
  .m-main-menu__list {
    position: relative;
    top: 0;
    right: 0;
    width: 0;
    background-color: #000000;
    height: 100%;
    padding: 0;
    overflow: auto;
  }
  .m-main-menu__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .active-menu {
    opacity: 1;
    z-index: 6;
    width: 100%;
    height: 100%;
  }
  .active-menu > .m-main-menu__list {
    padding: 0 30px;
    width: 466px;
  }
  .list__header {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .list__header .btn--language {
    background-color: transparent;
  }
  .list__header .btn--language .current-language {
    display: flex;
    align-items: center;
    font-family: "mplus1p600";
    font-size: 18px;
  }
  .list__header .btn--language .current-language > .material-symbols-outlined {
    font-size: 20px;
    margin-right: 8px;
  }
  .language-menu {
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 1px solid #ffce22;
    z-index: 6;
    border-radius: 8px;
    overflow: hidden;
  }
  .language-menu li {
    width: 100%;
  }
  .language-menu li .btn--language-items {
    background-color: transparent;
    width: 100%;
    padding: 16px;
  }
  .language-menu li .btn--language-items:hover {
    background-color: #2f2f2f;
    color: #fbca77;
  }
  .wallet-box {
    padding: 20px 0;
  }
  .m-main-menu__items {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
  .m-main-menu__items:last-child {
    padding: 24px 0;
    border-top: 1px solid #4d4d4d;
  }
  .m-main-menu__items .m-main-menu__sub-title {
    font-family: "mplus1p600";
    color: #b3b3b3;
  }
  .m-main-menu__items a {
    height: 60px;
    font-family: "mplus1p500";
    font-size: 18px;
    line-height: 60px;
  }
  .m-main-menu__items a:hover {
    color: #fbca77;
  }
  .m-main-menu__items .social-items {
    width: 168px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .m-main-menu__items .social-items:nth-child(2) {
    margin-top: 16px;
    width: 104px;
  }
  .m-main-menu__items .social-items button {
    width: 24px;
    background-color: transparent;
  }
  .m-main-menu__items .social-items button img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header .inner .header-logo {
    width: 154px;
  }
  .header .inner .header-logo img {
    width: 100%;
  }
}/*# sourceMappingURL=Header.css.map */