.main-memu {
  position: absolute;
  display: flex;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  z-index: 6;
  > li {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      .main-menu__sub {
        display: block;
      }
    }
    .main-menu__title {
      font-family: "mplus1p600";
      font-size: 18px;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: #fbca77;
      }
    }
    .main-menu__sub {
      display: none;
      position: absolute;
      top: 50px;
      background-color: #000000;
      border: 1px solid #ffce22;
      border-radius: 8px;
      overflow: hidden;
      > li {
        cursor: pointer;
        &:hover {
          background-color: #2f2f2f;
        }
        a {
          display: block;
          padding: 18px 16px;
          white-space: nowrap;
          font-family: "mplus1p500";
          &:hover {
            color: #fbca77;
          }
        }
      }
    }
  }
}
